body{
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

/* App.js */
.dashpadding {
  padding:10px;
}

.navBarStick{
  padding-top: 60px;

}

/* navbar.js */
.navbarColor {
    background-color: #ffffff;
    /* background-image: linear-gradient(to right,#3366ff, #a180ff, 	#80dfff); */
}

/* collectionView.js */
.photoCard{
  padding-top:10px;
  padding-bottom: 5px;
  max-width: 600px;
  margin:auto;
}

.padderino {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.polaroid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left:5%;
  padding-right:5%;
  padding-top:5%;
  padding-bottom: 15%;
}

.picturFrame{
  height:100%;
  width:100%;
  background-color: black;
  position: relative;
  overflow: hidden;
}

.pictureHolder{
  width: 100%;
  height:100%;
  object-fit:cover;
}

/* authScreen.js */
.PadContainer{
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.NumberPad{
  width: 100vw;
  max-width: 500px;
  min-width: 200px;
  margin:auto;
  padding-bottom: 32px;
}

/* fullScreenView.js */
.photoCardFull{
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin:auto;
}

.pictureFullScreen {
  height:100%;
  width:100%;
  object-fit:contain;
}

/* adminLogin.js */
.loginContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AdminInputField {
  width:200px;
  margin:auto;
}
